* {
	box-sizing: border-box;
}
body {
	background: #282C32;
	min-height: 100vh;
	padding: 0;
	margin: 0;


  overflow-x: auto;
  overflow: hidden; 
  overflow-y: auto; 
}
.gallery {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.cards {
	position: absolute;
	width: 14rem;
	height: 18rem;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cards li {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 14rem;
	height: 18rem;
	text-align: center;
	line-height: 18rem;
	font-size: 25px;
	/* font-family: sans-serif; */
	/* background-color: #9d7cce; */
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0.8rem;
  color: #60A8FE;
}

.actions {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
}

button {
  display:inline-block;
  outline: none;
  border: none;
  padding: 8px 14px;
  background: #414141;
  background-image: -webkit-linear-gradient(top, #575757, #414141);
  background-image: -moz-linear-gradient(top, #575757, #414141);
  background-image: -ms-linear-gradient(top, #575757, #414141);
  background-image: -o-linear-gradient(top, #575757, #414141);
  background-image: linear-gradient(to bottom, #575757, #414141);
  text-shadow: 0px 1px 0px #414141;
  -webkit-box-shadow: 0px 1px 0px 414141;
  -moz-box-shadow: 0px 1px 0px 414141;
  box-shadow: 0px 1px 0px 414141;
  color: #ffffff;
  text-decoration: none;
  margin: 0 auto 10px;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  padding: 12px 25px;
  font-family: "Signika Negative", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
  line-height: 18px;
}

button:hover {
  background: #5c7391;
  /* background-image: -webkit-linear-gradient(top, #57a818, #4d9916);
  background-image: -moz-linear-gradient(top, #57a818, #4d9916);
  background-image: -ms-linear-gradient(top, #57a818, #4d9916);
  background-image: -o-linear-gradient(top, #57a818, #4d9916);
  background-image: linear-gradient(to bottom, #57a818, #4d9916); */
  text-shadow: 0px 1px 0px #32610e;
  -webkit-box-shadow: 0px 1px 0px fefefe;
  -moz-box-shadow: 0px 1px 0px fefefe;
  box-shadow: 0px 1px 0px fefefe;
  color: #ffffff;
  text-decoration: none;
}

button {
  font-size: 20px;
  font-weight: 400;
}

a {
  color: #88ce02;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


.span_total{
  padding: 0 20px 0;
  font-size: large;
  font-weight: bolder;
  color: #60A8FE;
  text-align: center;
}


/* Основная ширина скроллбара (вертикальная) и высота (горизонтальная) */
::-webkit-scrollbar {
  width: 12px; /* Ширина вертикального скроллбара */
  height: 12px; /* Высота горизонтального скроллбара */
}

/* Дорожка (трек) скроллбара */
::-webkit-scrollbar-track {
  background: #282C32; /* Цвет фона дорожки */
  border-radius: 10px; /* Закругленные углы дорожки */
}

/* Ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background: #282C32; /* Цвет ползунка */
  border-radius: 10px; /* Закругленные углы ползунка */
}

/* Ползунок при наведении */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Измененный цвет при наведении */
}

/* Концы скроллбара (где обычно размещены стрелки) */
::-webkit-scrollbar-corner {
  background: #282C32; /* Цвет углового соединения (там, где сходятся горизонтальный и вертикальный скроллбары) */
}
